In [1]:
#!pip install pyncei

In [2]:
#import pyncei

In [3]:
import os
import pandas as pd
import requests
import json
import pandas as pd
from tqdm.notebook import tqdm

In [4]:
covid_df_head = './covid_data'
covid_dfs = dict(map(lambda p:(os.path.splitext(p)[0],pd.read_csv(os.path.join(covid_df_head,p))),os.listdir(covid_df_head)))
covid_dfs['covid_19_data'][covid_dfs['covid_19_data']['Country/Region']=='US']

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
31,32,01/22/2020,Washington,US,1/22/2020 17:00,1.0,0.0,0.0
70,71,01/23/2020,Washington,US,1/23/20 17:00,1.0,0.0,0.0
119,120,01/24/2020,Washington,US,1/24/20 17:00,1.0,0.0,0.0
120,121,01/24/2020,Chicago,US,1/24/20 17:00,1.0,0.0,0.0
161,162,01/25/2020,Washington,US,1/25/20 17:00,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
285273,285274,05/02/2021,Virginia,US,2021-05-03 04:20:39,661314.0,10791.0,0.0
285283,285284,05/02/2021,Washington,US,2021-05-03 04:20:39,404709.0,5499.0,0.0
285286,285287,05/02/2021,West Virginia,US,2021-05-03 04:20:39,153918.0,2686.0,0.0
285288,285289,05/02/2021,Wisconsin,US,2021-05-03 04:20:39,661685.0,7567.0,0.0
285289,285290,05/02/2021,Wyoming,US,2021-05-03 04:20:39,58142.0,707.0,0.0

In [5]:
noaa_token = "fbQAhrjfDFiHCdDYfsMpuIGmYaFVBFWz"

# ncei = pyncei.NCEIReader(pyncei_token)
#pyncei is buggy and doesn't work so we'll query directly

In [6]:
test_url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&locationid=FIPS:01&units=standard&startdate=2010-05-01&enddate=2010-05-01&limit=1000"
import requests
r = requests.get(test_url,headers={'token':noaa_token})
import json
import pandas as pd

In [7]:
#print(r.text)
results = pd.DataFrame(json.loads(r.text)['results'])
results = pd.concat([results,results.pivot(columns='datatype',values='value')],axis=1)#.groupby(['station']).max().reset_index().drop(columns=['datatype','attributes','value'])
results

,date,datatype,station,attributes,value,DAPR,EVAP,MDPR,PRCP,SN32,...,SNWD,SX32,TMAX,TMIN,TOBS,WDMV,WESD,WESF,WT01,WT03
0,2010-05-01T00:00:00,PRCP,GHCND:US1ALAT0002,",,N,",0.0,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-05-01T00:00:00,SNOW,GHCND:US1ALAT0002,",,N,",0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-05-01T00:00:00,PRCP,GHCND:US1ALAT0010,",,N,",0.0,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-05-01T00:00:00,SNOW,GHCND:US1ALAT0010,",,N,",0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-05-01T00:00:00,PRCP,GHCND:US1ALAT0013,",,N,",0.0,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2010-05-01T00:00:00,TMIN,GHCND:USC00018323,",,0,0600",46.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,46.0,NaN,NaN,NaN,NaN,NaN,NaN
996,2010-05-01T00:00:00,TOBS,GHCND:USC00018323,",,0,0600",70.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN
997,2010-05-01T00:00:00,PRCP,GHCND:USC00018380,",,0,1800",0.0,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,2010-05-01T00:00:00,SNOW,GHCND:USC00018380,"P,,0,",0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,2010-05-01T00:00:00,SNWD,GHCND:USC00018380,"P,,0,",0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test_url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&location=FIPS:01&units=standard&startdate=2010-05-01&enddate=2010-05-31"
from datetime import datetime,timedelta
import pickle
def get_int_date(str_date):
    year = int(str_date[:4])
    month = int(str_date[5:7])
    day = int(str_date[8:10])
    return year,month,day

def get_location_data(location,date_range=['2020-07-01','2021-01-01']):
    results = None
    sy,sm,sd = get_int_date(date_range[0])
    ey,em,ed = get_int_date(date_range[1])
    yrs = [sy]+([ey] if ey!=sy else [])
    months = list(range(sm,13))+list(range(1,em+1)) if ey!=sy else range(sm,em+1)
    days = [31,28,31,30,31,30,31,31,30,31,30,31]

    td = (datetime.strptime(date_range[1],"%Y-%m-%d")-datetime.strptime(date_range[0],"%Y-%m-%d"))
    with tqdm(total=td.days, position=1, leave=True) as pbar:
        for day_n in range(td.days):
    #         for year in yrs:
    #             for month in months:
    #                 for day in range(1,days[month-1]+1):
            date = (datetime.strptime(date_range[0],"%Y-%m-%d")+timedelta(days=day_n)).strftime("%Y-%m-%d")#'%d-%02d-%02d'%(year,month,day)
            pbar.update(1)
            r = requests.get("https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&locationid=%s&units=standard&startdate=%s&enddate=%s&limit=1000"%(location,date,date),headers={'token':noaa_token})
            #print(r,r.text)
            lresults = pd.DataFrame(json.loads(r.text)['results'])
            lresults = pd.concat([lresults,lresults.pivot(columns='attributes',values='value')],axis=1)
            if results is None:
                results = lresults
            else:
                results = pd.concat([results,lresults])
    #             break
    #         break
    pbar.close()
        
    
    return results

def get_locations_in_country(df,country,fids_dict):
    not_in = ["American Samoa",
            "Chicago",
            "Diamond Princess cruise ship",
            "Grand Princess",
            "Grand Princess Cruise Ship",
            "Guam",
            "Northern Mariana Islands",
            "Puerto Rico",
            "Recovered",
            "Unassigned Location (From Diamond Princess)",
            "United States Virgin Islands",
            "US",
            "Virgin Islands",
            "Wuhan Evacuee"]
    locations = df[(df['Country/Region']==country)]['Province/State'].unique()
    locations = filter(lambda location:"," not in location,locations)
    locations = [location for location in locations if location not in not_in]
    fids = list(map(fids_dict.get,locations))
    return [f for f in fids if f is not None],dict(zip(fids,locations))
fids_dict = {v['name']:v['id'] for k,v in pd.read_csv('./ncei_data/locations.txt').to_dict('index').items()}
fids_locations,location_dict = get_locations_in_country(covid_dfs['covid_19_data'],'US',fids_dict)
fids_data = pickle.load(open('fids_data3.pkl','rb'))#{}
used_locations=pickle.load(open('used_locations.pkl','rb'))
fips_,locations = zip(*used_locations)
print(fids_data.keys())
for fips in tqdm(fids_locations):
    if fips in fids_data.keys():
        continue
    print(fips,location_dict[fips])
    fids_data[fips] = get_location_data(fips)
    print(fids_data[fips].shape,fids_data[fips].iloc[0]['station'])
    print("Saving data collected and used locations so far...")
    pickle.dump(fids_data,open('fids_data3.pkl','wb'))
    used_locations.append((fips,location_dict[fips]))
    pickle.dump(used_locations,open('used_locations.pkl','wb'))
    #break

dict_keys(['FIPS:53', 'FIPS:17', 'FIPS:06', 'FIPS:04', 'FIPS:36', 'FIPS:25', 'FIPS:GG', 'FIPS:08', 'FIPS:12', 'FIPS:34', 'FIPS:41', 'FIPS:48', 'FIPS:42', 'FIPS:19'])

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=51.0), HTML(value='')))

FIPS:24 Maryland

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=184.0), HTML(value='')))

(90167, 37) GHCND:US1MDAA0001
Saving data collected and used locations so far...
FIPS:37 North Carolina

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=184.0), HTML(value='')))

(184000, 27) GHCND:US1NCAG0001
Saving data collected and used locations so far...
FIPS:45 South Carolina

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=184.0), HTML(value='')))

In [ ]:
# import pickle
# pickle.dump(fids_data,open('fids_data2.pkl','wb'))

In [ ]:
# fids_data[fips]['date'].unique()
# for fips in fids_data:
#     print({v:k for k,v in fids_dict.items()}[fips])

In [ ]:
for fips in tqdm(fids_data):
    fids_data[fips] = fids_data[fips].groupby(['date','station']).max().dropna(axis=1)

In [ ]:
#pickle.dump(fids_data,open('fids_data.pkl','wb'))
fids_data

In [ ]:
ts =