In [1]:
#!pip install pyncei

In [2]:
#import pyncei

In [1]:
import os
import pandas as pd
import requests
import json
import pandas as pd
from tqdm import tqdm

In [2]:
covid_df_head = './covid_data'
covid_dfs = dict(map(lambda p:(os.path.splitext(p)[0],pd.read_csv(os.path.join(covid_df_head,p))),os.listdir(covid_df_head)))
covid_dfs['covid_19_data'][covid_dfs['covid_19_data']['Country/Region']=='US']

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
31,32,01/22/2020,Washington,US,1/22/2020 17:00,1.0,0.0,0.0
70,71,01/23/2020,Washington,US,1/23/20 17:00,1.0,0.0,0.0
119,120,01/24/2020,Washington,US,1/24/20 17:00,1.0,0.0,0.0
120,121,01/24/2020,Chicago,US,1/24/20 17:00,1.0,0.0,0.0
161,162,01/25/2020,Washington,US,1/25/20 17:00,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
285273,285274,05/02/2021,Virginia,US,2021-05-03 04:20:39,661314.0,10791.0,0.0
285283,285284,05/02/2021,Washington,US,2021-05-03 04:20:39,404709.0,5499.0,0.0
285286,285287,05/02/2021,West Virginia,US,2021-05-03 04:20:39,153918.0,2686.0,0.0
285288,285289,05/02/2021,Wisconsin,US,2021-05-03 04:20:39,661685.0,7567.0,0.0
285289,285290,05/02/2021,Wyoming,US,2021-05-03 04:20:39,58142.0,707.0,0.0

In [3]:
noaa_token = "fbQAhrjfDFiHCdDYfsMpuIGmYaFVBFWz"

# ncei = pyncei.NCEIReader(pyncei_token)
#pyncei is buggy and doesn't work so we'll query directly

In [6]:
test_url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&location=FIPS:01&units=standard&startdate=2010-05-01&enddate=2010-05-01&limit=1000"
import requests
r = requests.get(test_url,headers={'token':noaa_token})
import json
import pandas as pd

In [7]:
#print(r.text)
results = pd.DataFrame(json.loads(r.text)['results'])
results = pd.concat([results,results.pivot(columns='datatype',values='value')],axis=1)#.groupby(['station']).max().reset_index().drop(columns=['datatype','attributes','value'])
results

,date,datatype,station,attributes,value,AWND,DATN,EVAP,FMTM,MDTN,...,SNOW,SNWD,TAVG,TMAX,TMIN,TSUN,WDF2,WDF5,WSF2,WSF5
0,2010-05-01T00:00:00,PRCP,GHCND:AE000041196,",,S,",0.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-05-01T00:00:00,TAVG,GHCND:AE000041196,"H,,S,",90.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-05-01T00:00:00,TMAX,GHCND:AE000041196,",,S,",103.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,103.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-05-01T00:00:00,TMIN,GHCND:AE000041196,",,S,",73.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,73.0,NaN,NaN,NaN,NaN,NaN
4,2010-05-01T00:00:00,PRCP,GHCND:AEM00041194,",,S,",0.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2010-05-01T00:00:00,TMAX,GHCND:ASN00009961,",,a,",68.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,68.0,NaN,NaN,NaN,NaN,NaN,NaN
996,2010-05-01T00:00:00,TMIN,GHCND:ASN00009961,",,a,",59.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN
997,2010-05-01T00:00:00,PRCP,GHCND:ASN00009963,",,a,",0.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,2010-05-01T00:00:00,PRCP,GHCND:ASN00009964,",,a,",0.05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,2010-05-01T00:00:00,TMAX,GHCND:ASN00009964,",,a,",62.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test_url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&location=FIPS:01&units=standard&startdate=2010-05-01&enddate=2010-05-31"

def get_int_date(str_date):
    year = int(str_date[:4])
    month = int(str_date[5:7])
    day = int(str_date[8:10])
    return year,month,day

def get_location_data(location,date_range=['2020-02-01','2020-08-01']):
    results = None
    sy,sm,sd = get_int_date(date_range[0])
    ey,em,ed = get_int_date(date_range[1])
    yrs = [sy]+([ey] if ey!=sy else [])
    months = list(range(sm,12))+list(range(1,em)) if ey!=sy else range(sm,em)
    days = [31,28,31,30,31,30,31,31,30,31,30,31]
    for year in yrs:
        for month in months:
            for day in range(1,days[month-1]+1):
                date = '%d-%02d-%02d'%(year,month,day)
                #print(date)
                r = requests.get("https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&location=%s&units=standard&startdate=%s&enddate=%s&limit=1000"%(location,date,date),headers={'token':noaa_token})
                #print(r,r.text)
                lresults = pd.DataFrame(json.loads(r.text)['results'])
                lresults = pd.concat([lresults,lresults.pivot(columns='attributes',values='value')],axis=1)
                if results is None:
                    results = lresults
                else:
                    results = pd.concat([results,lresults])
#             break
#         break
        
    
    return results

def get_locations_in_country(df,country,fids_dict):
    not_in = ["American Samoa",
            "Chicago",
            "Diamond Princess cruise ship",
            "Grand Princess",
            "Grand Princess Cruise Ship",
            "Guam",
            "Northern Mariana Islands",
            "Puerto Rico",
            "Recovered",
            "Unassigned Location (From Diamond Princess)",
            "United States Virgin Islands",
            "US",
            "Virgin Islands",
            "Wuhan Evacuee"]
    locations = df[(df['Country/Region']==country)]['Province/State'].unique()
    locations = filter(lambda location:"," not in location,locations)
    locations = [location for location in locations if location not in not_in]
    fids = list(map(fids_dict.get,locations))
    return [f for f in fids if f is not None],dict(zip(fids,locations))
fids_dict = {v['name']:v['id'] for k,v in pd.read_csv('./ncei_data/locations.txt').to_dict('index').items()}
fids_locations,location_dict = get_locations_in_country(covid_dfs['covid_19_data'],'US',fids_dict)
fids_data = {}

for fips in tqdm(fids_locations):
    print(fips,location_dict[fips])
    fids_data[fips] = get_location_data(fips)
    print(fids_data[fips].shape,fids_data[fips].iloc[0])
    #break

  0%|                                                                                           | 0/51 [00:00<?, ?it/s]

FIPS:53 Washington

In [19]:
import pickle
pickle.dump(fids_data,open('fids_data2.pkl','wb'))

In [23]:
fids_data[fips]['date'].unique()
for fips in fids_data:
    print({v:k for k,v in fids_dict.items()}[fips])

Washington
Illinois
California
Arizona
New York
Massachusetts
Georgia
Colorado
Florida
New Jersey
Oregon
Texas
Pennsylvania
Iowa
Maryland
North Carolina
South Carolina
Tennessee
Virginia
Indiana
Kentucky
District of Columbia
Nevada
New Hampshire
Minnesota
Nebraska
Ohio
Rhode Island
Wisconsin
Connecticut
Hawaii
Oklahoma
Utah
Kansas
Louisiana
Missouri
Vermont
Alaska
Arkansas
Delaware
Idaho
Maine
Michigan
Mississippi
Montana
New Mexico
North Dakota
South Dakota
West Virginia
Wyoming
Alabama

In [27]:
for fips in tqdm(fids_data):
    fids_data[fips] = fids_data[fips].groupby(['date','station']).max().dropna(axis=1)

100%|██████████████████████████████████████████████████████████████████████████████████| 51/51 [04:08<00:00,  4.88s/it]

In [9]:
#pickle.dump(fids_data,open('fids_data.pkl','wb'))
fids_data

{}